header {
  border-bottom: 1px black solid;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

body {
  margin: 0px;
}

main {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-icon {
  margin: 0px;
  font-size: 2em;
}

.nav-right a {
  color: black;
  font-size: 2em;
  margin-right: 0.75em;
}

.inactive {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

/*
#search-form {
  margin: auto;
  width: 50%;
}

.submit-box {
  display: flex;
  justify-content: right
}
*/

.input-box {
  margin: auto;
  /*width: 50%;*/
  margin-bottom: 1em;
  max-width: 561px;
  width: 100%;
  display: flex;
}

.input-box input{
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  /*width: 100%;*/
  height: 44px;
  box-sizing: border-box;
  flex: 1;
}

.header-and-form-box {
  padding-top: 75px;
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-banner {
  width: 272px;
  border-radius: 30px;
  margin-bottom: 20px;

}

.left {
  margin-top: 0px;
  color: blue;
}

.right {
  margin-top: 0px;
  color: red;
}

.center {
  margin-top: 0px;
  color: black;
}

.score-box {
  display: flex;
}

.article-title {
  margin-bottom: 0px;
  margin-top: 0.5em;
}

.score-p {
  padding-right: 3px;
  margin-top: 0px;
}

.article-desc {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}