<!doctype html>

<head>
  <title>Split</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="logos">
    <img src="{{ url_for('static', filename='logos/fox.png')}}" alt="fox">
    <img src="{{ url_for('static', filename='logos/cnn.png')}}" alt="cnn">
    <img src="{{ url_for('static', filename='logos/msnbc.png')}}" alt="msnbc">
    <img src="{{ url_for('static', filename='logos/nyt.png')}}" alt="nyt">
    <img src="{{ url_for('static', filename='logos/bbc.png')}}" alt="bbc">
    <img src="{{ url_for('static', filename='logos/daily_mail.png')}}" alt="dm">
    <img src="{{ url_for('static', filename='logos/cbs.png')}}" alt="cbs">
    <img src="{{ url_for('static', filename='logos/morning.png')}}" alt="morning">
  </div>
  <main>
    <!-- Search input -->
    <div class="header-and-form-box">
      <!--<h1 class="center-title">Bias Free News</h1>-->
      <img class="center-banner" src="{{ url_for('static', filename='images/splitlogo.png') }}">

      <!--<div id="container">
        <img class="center-banner" src="{{ url_for('static', filename='images/splitlogo.png') }}">
      </div>-->

      <div class="input-box" onclick="sendFocus()">
        <input placeholder="Search for an article topic" id="filter-text-val"
          onkeydown="if(event.keyCode===13) filterText()">
      </div>


      <div id="answer-box">
        <div id="left-answer-box"> 
        </div>
        <div id="right-answer-box"> 
        </div>
      </div>

    </div>

    <!-- Search results -->
    <script>

    /*document.addEventListener("DOMContentLoaded", function() {
        // Get the center banner element
        var centerBanner = document.querySelector('.center-banner');
        var container = document.getElementById('container');

        // Create a new image element for the extended line
        var extendedLine = new Image();
        extendedLine.src = "{{ url_for('static', filename='images/whiteline.png') }}"; // Change to the path of your white line image
        extendedLine.alt = 'Extended Line';
        extendedLine.style.position = 'absolute';
        extendedLine.style.left = (centerBanner.offsetLeft + centerBanner.width / 2) + 'px';
        extendedLine.style.top = (centerBanner.offsetTop + centerBanner.height / 2) + 'px';
        extendedLine.style.transform = 'translate(-50%, -50%)'; // Center the image
        extendedLine.style.width = centerBanner.offsetWidth + 'px'; // Same width as centerBanner
        extendedLine.style.height = '0px'; // Initially set height to 0
        container.appendChild(extendedLine);

        // Animate the extension of the line
        var duration = 3000; // Animation duration in milliseconds
        var start = null;
        function extendLine(timestamp) {
            if (!start) start = timestamp;
            var progress = timestamp - start;
            var percentage = progress / duration;
            //extendedLine.style.width = (centerBanner.offsetWidth * percentage) + 'px';
            extendedLine.style.height = (centerBanner.offsetHeight * 10 * percentage) + 'px';
            if (progress < duration) {
                requestAnimationFrame(extendLine);
            }
        }
        requestAnimationFrame(extendLine);
    });*/



      function mapValue(value, min1, max1, min2, max2) {
        return min2 + (value - min1) * (max2 - min2) / (max1 - min1);
      }

      function answerBoxTemplate(title, titleDesc, rating, url, date) {
        console.log(rating);
        let absrating = Math.abs(rating);
        console.log("absrating: " + absrating);
        let direction;
        let directionclass;
        let color_num = absrating + 0.2;
        console.log("color_num: " + color_num);
        // left
        if (rating < 0.0) {
          color = "rgb(0, 168, 243," + color_num + ")"

          // right
        } else if (rating > 0.0) {
          color = "rgb(236, 28, 36," + color_num + ")"

          // center
        } else {
          color = "rgb(255, 255, 255, 1)"
        }
        marker = mapValue(rating, -1, 1, 0, 100)
        var date = new Date(date);
        let newdate = ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + date.getFullYear();
        return `
        <div class='record-box'>
          <div class="record-box-overlay" style='background: ${color}'>
            <a class="link" href="${url}" target="_blank">
              <h3 id="title2" class='article-title'>${title}</h3>
              <p class="date">${newdate}</p>
            </a>
              <div class='slider-container'>
                  <h4>Was our article political bias rating correct?</h4>
                <div class="center">
                  <input id = 'slider' type='range' min = '0' max='100' value='50' class='slider'>
                  <div id="fixedMarker" class="fixed-marker" style="left: ${marker}%;">
                    </div>
                  <button id= 'submit' onclick="submitScore()">Submit</button>
                </div>
              </div> 
            </a> 
          </div>
        </div>`
      }

      function submitScore() {
        var clickedButton = event.target;
        var answerBox = clickedButton.closest('.record-box');
        var slider = answerBox.querySelector('.slider');
        var titleElement = answerBox.querySelector('.article-title');
        var markerElement = answerBox.querySelector('.fixed-marker');

        var score = parseFloat(slider.value);
        var title = titleElement.innerText;
        var markerStyle = markerElement.style.left;
        var marker = parseFloat(markerStyle.replace('left: ', '').replace('%;', ''));

        score = mapValue(score, 0, 100, -1, 1);
        marker = mapValue(marker, 0, 100, -1, 1);

        answerBox.innerHTML = `<div class="center"><h3>Thank you for your response</h3>
        <img class = "check" src="{{ url_for('static', filename='images/check_mark.png')}}"> </div>`;
        fetch('/update-score', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ user_score: score, current_score: marker, title: title }),
        }).catch(error => {
          console.error('Error', error)
        })
      }

      function sendFocus() {
        document.getElementById('filter-text-val').focus()
      }

      function filterText() {
        document.getElementById("left-answer-box").innerHTML = "";
        document.getElementById("right-answer-box").innerHTML = "";
        //document.getElementById("middle-answer-box").innerHTML = "";
        console.log(document.getElementById("filter-text-val").value);
        fetch("/articles?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
          .then((response) => response.json())
          .then((data) => {
            processArticles(data);
          });
      }

      function processArticles(data) {
        processFirstItem(JSON.parse(data[0]));
        processSecondItem(JSON.parse(data[1]));
        //processThirdItem(JSON.parse(data[2]));
        //processFourthItem(JSON.parse(data[3]));
      }

      function processFirstItem(leftlist) {
        // Left biased articles
        leftlist.forEach((json) => {
          console.log(json)
          let tempDiv = document.createElement("div");
          tempDiv.innerHTML = answerBoxTemplate(json.title, (json.text.substring(0, 200) + "..."), json.score, json.url, json.date);
          document.getElementById("left-answer-box").appendChild(tempDiv);
        });
      }

      function processSecondItem(rightlist) {
        // Right biased articles
        rightlist.forEach((json) => {
          console.log(json)
          let tempDiv = document.createElement("div");
          tempDiv.innerHTML = answerBoxTemplate(json.title, (json.text.substring(0, 200) + "..."), json.score, json.url, json.date);
          document.getElementById("right-answer-box").appendChild(tempDiv);
        });
      }

      function processThirdItem(middlelist) {
        // Unbiased articles
      }

      function processFourthItem(alllist) {
        console.log("row type: " + typeof alllist);
        console.log("row: " + alllist)
        alllist.forEach((json) => {
          console.log(json)
          let tempDiv = document.createElement("div");
          tempDiv.innerHTML = answerBoxTemplate(json.title, (json.text.substring(0, 200) + "..."), json.score, json.url, json.date);
          document.getElementById("answer-box").appendChild(tempDiv);
        });
      }



    </script>
  </main>

</body>